<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExtraText</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="http://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" ref="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,900;1,200;1,500;1,900&display=swap" rel="stylesheet">
<link href='https://unpkg.com/boxicons@latest/css/boxicons.min.css' rel='stylesheet'>
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  </head>
<body>

  <div class="container">
    <div class="navbar">
      <a href="{{ url_for('home')}}" class="logo">ExtraText</a>
      <nav>
        
        <ul>
          <li><a href="{{ url_for('home')}}" methods="POST">Home</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#about" methods="POST">About</a></li>
        </ul>
      </nav>
    </div>

    <div class="row">
        <div class="col">
            <h1>Convert your file Audio or Image with AI to text.</h1>
            <h5>Say goodbye to manual transcriptions and hello <br>to a seamless text extraction experience. </h5>  
              
            <p>Try ExtraText today and unlock the power <br>of effortless conversion. Get started now!</p>
        </div>
    </div>
</div><br><br>
<section class="event" id="services">
  <div class="title">
      <h1>Services</h1>
      <div class="line"></div>
      <br>
  </div>
  <div class="row1">
      <div class="col1">
        <img src="{{url_for('static', filename='images/Design.png')}}" id="img"> 
          
          <h4>Audio to Text</h4>
          <p>Effortlessly convert audio into text with ExtraText. 
            Accurate, efficient, and user-friendly, 
            our service simplifies transcription for interviews, lectures, and more.</p>
          <a href="{{ url_for('audio')}}" class="button">Try now</a>
      </div>
      <div class="col1">
        <img src="{{url_for('static', filename='images/desin.jpg')}}">
        <h4>Image to Text</h4>
        <p>Transform images into text effortlessly. 
          ExtraText's image-to-text service makes digitizing visual content, 
          from handwritten notes to documents, a breeze.</p>
        <a href="{{url_for('images')}}" class="button">Try now</a>
      </div>
  </div>
</section><br><br>
<section class="event" id="about">
  <div class="title">
    <h1>About</h1>
    <div class="line"></div>
    <br>
</div>

<div class="row1">
  <div class="col1">
      
    <p class="para">At ExtraText, we're passionate about harnessing the power of AI to make extracting text from images and audios easier than ever before. Our team of dedicated developers and AI enthusiasts is committed to providing you with a seamless and efficient text extraction experience.

    Whether you're a seasoned AI pro or just getting started, our user-friendly interface and cutting-edge technology make text extraction a breeze.
    
    Join us on this exciting journey to simplify your text extraction needs. Explore the possibilities with ExtraText today! </p>
  </div> </div>

</section>
<section class="footer">
  <div class="footer-content">
      <p>ExtraText is a web application who can extract a text from a image or convert audio to text in minute.Simple and easy to use it</p>
      <p>Copyright ©  2023 ExtraText</p>
</section>
</body>
</html>

